<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="false">
	<appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d{HH:mm:ss.SSS} %-4relative %highlight(%-5level) %cyan(%logger{35}) - %magenta(%msg%n)</pattern>
		</encoder>
	</appender>
	<contextName>parking</contextName>
	<logger level="OFF" name="org.apache"/>
	<logger level="OFF" name="org.springframework"/>
	<logger additivity="false" level="INFO"
			name="com.challenge.parking">
		<appender-ref ref="STDOUT"/>
	</logger>
	<root level="DEBUG">
		<appender-ref ref="STDOUT"/>
	</root>
</configuration>
